<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.home.middle.product.ProductDAO">
	<select id="productOptionNum" resultType="Long">
		SELECT PRODUCTOPTION_SEQ.NEXTVAL FROM DUAL
	</select>
	<select id="getProductOptionDetail" parameterType="ProductDTO" resultType="ProductOptionDTO">
		SELECT * FROM PRODUCTOPTION WHERE PRODUCTNUM = #{productNum} ORDER BY OPTIONNUM ASC
	</select>
	<select id="getOption" parameterType="ProductOptionDTO" resultType="ProductOptionDTO">
		SELECT * FROM PRODUCTOPTION WHERE PRODUCTNUM = #{productNum} AND REF = #{ref} AND DEPTH = #{depth} ORDER BY OPTIONNUM ASC
	</select>
	<select id="getProductOptionList" parameterType="ProductOptionDTO" resultType="ProductOptionDTO">
		SELECT * FROM PRODUCTOPTION WHERE PRODUCTNUM = #{productNum} AND DEPTH = #{depth} ORDER BY OPTIONNUM ASC
	</select>
	
 	<insert id="productOptionAdd0" parameterType="ProductOptionDTO">
 		INSERT INTO PRODUCTOPTION (OPTIONNUM, PRODUCTNUM, OPTIONNAME, OPTIONVALUE, PRODUCTPRICE, PRODUCTSTOCK, REF, DEPTH)
 		VALUES (#{optionNum}, #{productNum}, #{optionName}, #{optionValue}, #{productPrice}, #{productStock}, #{ref}, #{depth})
 	</insert>
 	
 	<insert id="setProductCategoryAdd" parameterType="ProductDTO">
 		INSERT INTO PRODUCT CATEGORYNUM = #{categoryNum} WHERE PRODUCTNUM = #{productNum}
 	</insert>
 	
 	<delete id="setProductOptionDelete" parameterType="ProductOptionDTO">
 		DELETE PRODUCTOPTION WHERE PRODUCTNUM = #{productNum}
 	</delete>
</mapper>